header{
	/*background-image: linear-gradient(to right, #81F781, #81BEF7, #F781F3);*/ /*verde azul rosa*/
	background-image: linear-gradient(to right, #81BEF7, #F78181, #F781F3); /*azul vermelho rosa*/
}

.link_menu{
	color: black;
}

.imagem_logo{
	height: 65px;
	padding: .1em;
}

.manuscrito_logo{
	height: 13em;
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-top: 2.8em;
}

.news_title{
	text-align: center;
}

span{
	font-weight: bold;
}

h2{
	text-align: center;
}

p{
	text-align: justify;
}

.rodape_pag{
	text-align: center;
	margin-top: 2em;
	margin-bottom: 1em;
}

